p {
  font-family: arial;
  color: gray;
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 0;
}
.title {
  margin-bottom: 5px;
}
.search-bar {
  width: 290px;
  margin-bottom: 15px;
  border-style: solid;
  border-color: gray;
  border-width: 2px;
  border-radius: 5px;
  padding-top: 7px;
  padding-bottom: 7px;
}
.clause {
  margin-bottom: 10px;
}
.agree {
  background-color: rgb(10, 102, 194);
  width: 300px;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  cursor: pointer;
}